{% extends "main_layout.html" %}
{% block content %}

    <body class="no-sidebar">
		{% include 'header.html' %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

					<!-- Content -->
						<article class="box post">
							<header>
								<h2>404 Error</h2>
								<p>We couldn't find the content you're looking for...</p>
							</header>
						</article>

				</div>
			</div>

		<!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    {% set about_width = '8u' %}
                    {% include 'about.html' %}
                </div>

                {% include 'copyright_row.html' %}
            </section>
        </div>

	</body>

{% endblock content %}
