<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="{{ SITEURL }}/index.html">Home</a></li>
        <li>
            <a href="#" onclick="return false;">Games</a>
            <ul>
                {% for cat, null in categories %}
                    <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ SITEURL }}/tag/tutorial.html">Tutorials</a></li>
        <li><a href="{{ SITEURL }}/archives.html">Blog</a></li>
        <li><a href="{{ SITEURL }}/static_pages/about.html">About</a></li>
    </ul>
</nav>