<div style="text-align: center;">
    <h2>Space Snakes: Legacy Earth</h2>

    <p>
        Final Parsec's current project under development.
    </p>

    <p>
        Legacy Earth is the first installment of the Space Snakes trilogy and a space-themed rail shooter built with Unity3d.
    </p>

    <p>
        You can follow our development on <a href="https://github.com/Final-Parsec/Blueshift">GitHub</a>.
    </p>

    <img src="/theme/images/legacy_earth_mech_battle.jpg" style="display: block; margin-left: auto; margin-right: auto; max-width: 95%;"/>
</div>