<div class="game_container">
    <div class="intro ">
        <aside id="featured" class="body">
            <article>
                <h1 class="entry-title">Aurora TD</h1>

                <h3>Tower Defense: defend your village against spirits by building elemental totems.</h3>
                <p>
                    You are an Inuit shaman sworn to protect Tomkin, the home of the spirits. Tonrar, the evil spirit, is attempting to bring darkness to the ice caps.
                    You must repel his forces by building totems, magical defenses which are empowered by the elements.
                    As the evil forces grow in strength and numbers, darkness will overtake the northern lights.
                    Fight back by strategically placing totem poles with magical abilities!
                    Invoke the power of the spirits!
                    Salaksartok!
                </p>

                <nav>
                    <ul>
                        <li><a href="#" id="act_one_button">Play Aurora Tower Defense Now</a></li>
                    </ul>
                </nav>
            </article>
        </aside>

        <img src="/theme/images/tower_defense_feature_graphic.png" style="width: 95%;" />

        <aside id="featured" class="body">
            <article>
                <h2>Play Aurora Tower Defense on Your Android Device</h2>

                <p>
                    <a href="https://play.google.com/store/apps/details?id=com.finalparsec.towerdefence">
                      <img alt="Get it on Google Play"
                           src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
                    </a>
                </p>
            </article>
        </aside>
    </div>

    <div class="act_one" style="display: none;">
        <aside id="featured" class="body">
            <article>
                <h3>Can't get enough Aurora TD?</h3>

                <h2>Play Aurora Tower Defense on Your Android Device</h2>

                <p>
                    <a href="https://play.google.com/store/apps/details?id=com.finalparsec.towerdefence" target="_blank">
                      <img alt="Get it on Google Play"
                           src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
                    </a>
                </p>

                <nav>
                    <ul>
                        <li><a href="#" class="back_to_intro">Back to Intro</a></li>
                        <li><a href="#" id="act_one_restart">Restart Game</a></li>
                    </ul>
                </nav>

            </article>
        </aside>

        <div id="unityPlayer" style="width: 800px; height: 500px; margin-bottom: 2em;"></div>
    </div>

</div>

<script>

    $(document).ready(function() {

        if (detectUnityWebPlayer()) {
            // Game start buttons

            $('#act_one_button').click(function() {
                window.scrollTo(0, 0);
                $('.game_container > div').filter(':visible').fadeOut(750, function() {
                    var u = new UnityObject2();
                    u.initPlugin(jQuery(".act_one > #unityPlayer")[0], "/theme/unity/aurora_td_1_1_0.unity3d");

                    $('.act_one').fadeIn();
                });
                return false;
            });

            // Game restart buttons.

            $('#act_one_restart').click(function() {
               var u = new UnityObject2();
                u.initPlugin(jQuery(".act_one > #unityPlayer")[0], "/theme/unity/aurora_td_1_1_0.unity3d");
                return false;
            });

            // Backward navigation buttons.

            $('.back_to_intro').click(function() {
                window.scrollTo(0, 0);
                $('.game_container > div').filter(':visible').fadeOut(500, function() {
                    $('.intro').fadeIn();
                });
                return false;
            });

        } else {
            $('.intro').find('nav').replaceWith('<div style="background-color: #fff8c4; color:#555; border-radius:10px; font-size:11px; padding:10px 10px 10px 36px; margin:10px;">You need to install the <a href="http://unity3d.com/webplayer">Unity Player plugin</a> in order to play Aurora Tower Defense. The Unity Player plugin is not supported on mobile devices. If you are on Android, check us out on the <a href="https://play.google.com/store/apps/details?id=com.finalparsec.towerdefence">Google Play Store</a>.');
        }

    });


</script>