{% extends "main_layout.html" %}
{% block content %}
    <!-- Header -->
        <div id="header-wrapper">
            <div id="header">

                <!-- Header -->
                <!-- Logo -->
                <h1><a href="{{ url_for('index') }}">FINAL PARSEC</a></h1>

                {% include 'nav_bar.html' %}

                <!-- Banner -->
                    <section id="banner" style="background-image: url('{{ url_for('static', filename='images/leaderboard_header.jpg') }}'); padding: 1.5em;">
                        <header>
                            <h2>Aurora TD Leaderboards</h2>
                            <p>Battle your friends!</p>
                        </header>
                    </section>

                <!-- Intro -->
                    <section id="intro" class="container">
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <i class="icon featured fa-globe"></i>
                                    <header>
                                        <h2>Map Type</h2>
                                    </header>
                                    <select id="map-type-select" style="width: 50%;">
                                        <option value="Obstacles">Obstacles</option>
                                        <option value="Open">Open</option>
                                    </select>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <i class="icon featured alt fa-star-half-empty"></i>
                                    <header>
                                        <h2>Difficulty</h2>
                                    </header>
                                    <select id="difficulty-select" style="width: 50%;">
                                        <option value="Hard">Hard</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Easy">Easy</option>
                                    </select>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <i class="icon featured alt2 fa-gamepad"></i>
                                    <header>
                                        <h2># of Waves</h2>
                                    </header>
                                    <select id="number-of-waves-select" style="width: 50%;">
                                        <option value="40">40</option>
                                        <option value="80">80</option>
                                        <option value="Endless">Endless</option>
                                    </select>
                                </section>
                            </div>
                        </div>
                        <footer style="text-align: center;">
                            <h3>Top Competitors</h3>
                            <table id="leaderboard" style="width: 60%; margin: 0 auto;">
                                <tbody></tbody>
                            </table>
                        </footer>
                    </section>

            </div>
        </div>
    {% block content_header %}{% endblock %}
    </div>

    <script>
        function updateLeaderboard() {
            var game = "Aurora TD";
            var mapType = $("#map-type-select option:selected").text();
            var difficulty = $("#difficulty-select option:selected").text();
            var numberOfWaves = $("#number-of-waves-select option:selected").text();
            var leaderboardName = game + ' ' + mapType + ' '  + difficulty + ' ' + numberOfWaves;

            $.getJSON('/scores/' + leaderboardName + '?limit=10', function(leaderboard) {
                $('#leaderboard tr').remove();

                $(leaderboard.competitors).each(function (){
                    $('#leaderboard > tbody:last-child').append('<tr><td style="text-align: left;">' + this.player_name + '</td><td>' + this.score + '</td></tr>');

                    console.log(this.player_name);
                })
            })
        }

        $(updateLeaderboard);

        $(function() {
           $('select').change(updateLeaderboard);
        });

    </script>
{% endblock content %}