{% extends "main_layout.html" %}
{% block content %}
    <!-- Header -->
        <div id="header-wrapper">
            <div id="header">

                <!-- Header -->
                <!-- Logo -->
                <h1><a href="{{ url_for('index') }}">FINAL PARSEC</a></h1>

                {% include 'nav_bar.html' %}

                <!-- Banner -->
                    <section id="banner" style="background-image: url('{{ url_for('static', filename='images/leaderboard_header.png') }}'); padding: 1.5em;">
                        <header>
                            <h2>Aurora TD Leaderboards</h2>
                            <p>Battle your friends!</p>
                        </header>
                    </section>

                <!-- Intro -->
                    <section id="intro" class="container">
                        <div class="row">
                            <div class="4u">
                                <section class="first">
                                    <i class="icon featured fa-globe"></i>
                                    <header>
                                        <h2>Map Type</h2>
                                    </header>
                                    <select style="width: 50%;">
                                        <option value="Obstacle">Obstacle</option>
                                        <option value="Open">Open</option>
                                    </select>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="middle">
                                    <i class="icon featured alt fa-star-half-empty"></i>
                                    <header>
                                        <h2>Difficulty</h2>
                                    </header>
                                    <select style="width: 50%;">
                                        <option value="Hard">Hard</option>
                                        <option value="Medium">Medium</option>
                                        <option value="Easy">Easy</option>
                                    </select>
                                </section>
                            </div>
                            <div class="4u">
                                <section class="last">
                                    <i class="icon featured alt2 fa-gamepad"></i>
                                    <header>
                                        <h2># of Waves</h2>
                                    </header>
                                    <select style="width: 50%;">
                                        <option value="40">40</option>
                                        <option value="80">80</option>
                                        <option value="Endless">Endless</option>
                                    </select>
                                </section>
                            </div>
                        </div>
                        <footer style="text-align: center;">
                            <h3>Top Ten</h3>
                            <table style="width: 60%; margin: 0 auto;">
                                <tr>
                                    <td style="text-align: left;">Baer</td>
                                    <td>6353</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Rachel</td>
                                    <td>3245</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Rem Rem</td>
                                    <td>2334</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Laika</td>
                                    <td>2256</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Edward Baerington Bradford</td>
                                    <td>1765</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Meleese Jenkins</td>
                                    <td>1309</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Laika</td>
                                    <td>889</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">ASS</td>
                                    <td>667</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Baer</td>
                                    <td>503</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left;">Anne</td>
                                    <td>443</td>
                                </tr>
                            </table>
                            <ul class="actions">
                                <li><a href="{{ url_for('landing_page', game_tag_name='legacy-earth') }}" class="button big">View More</a></li>
                            </ul>
                        </footer>
                    </section>

            </div>
        </div>
    {% block content_header %}{% endblock %}
    </div>
{% endblock content %}