.header {
    min-height: 80px;
    margin: 0;
    color: #333;
    padding: 1em 2em;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: #fff;
 }

    .header h1 {
        font-family: "omnes-pro", sans-serif;
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }

    .header h2 {
        font-weight: 300;
        margin: 0;
        color: #ccc;
    }

    .header img {
        height: 80px;
    }


.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
}

    .content p {
        line-height: 1.6em;
        font-size: 1.125em;
    }

    .content .content-subhead {
        margin: 50px 0 20px 0;
        font-weight: 300;
        color: #888;
        position: relative;
    }

    .content .content-spaced {
        line-height: 1.8em;
    }

    /* A code snippet that has been syntax highlighted */
    .content .snippet {
        margin: 1.3em 0 1em;
        padding: 1.3em;
    }

    .content .content-quote {
        font-family: "Georgia", serif;
        color: #666;
        font-style: italic;
        line-height: 1.8em;
        border-left: 5px solid #ddd;
        padding-left: 1.5em;
    }

    .content-link {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 100%;
        width: 20px;
        background: transparent url('/img/link-icon.png') no-repeat center center;
        background-size: 20px 20px;
    }

.menu {
    position: absolute;
    top: 0px;
    right: 50px;
}

.menu li {
    display: inline;
    margin: 0px 2px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: small;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}