{% extends "admin_layout.html" %}
{% block body %}
    <div class="pure-g-r">
        <div class="pure-u-1" style="margin: 0 auto;">
            <h3>Change User Account Password</h3>

            <form method="post" class="pure-form">
                <fieldset class="pure-group">
                    <input type="password" class="pure-input-1-2" placeholder="Current Password" name="original_password">
                    <input type="password" class="pure-input-1-2" placeholder="New Password" name="new_password">
                    <input type="password" class="pure-input-1-2" placeholder="New Password" name="new_password_check">
                </fieldset>

                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Change Password</button>
            </form>
        </div>
    </div>

{% endblock body %}
