{% extends "admin_layout.html" %}
{% block body %}
    <div class="pure-g-r">
        <div class="pure-u-1" style="margin: 0 auto;">
            <h3>Edit Post</h3>

            <form method="post" class="pure-form">
                <fieldset class="pure-group">
                    <div>
                        <label for="is_draft">Is Draft:</label>
                        <input type="checkbox" class="pure-input-1-2" name="is_draft" {{ 'checked="checked"' if post.is_draft else '' }}" style="display: inline; margin-bottom: 1em;">
                    </div>
                    <input type="text" class="pure-input-1-2" placeholder="Title" name="title" value="{{ post.title or '' }}" required>
                    <input type="text" class="pure-input-1-2" placeholder="Slug" name="slug" value="{{ post.slug or '' }}" required>
                    <input type="date" class="pure-input-1-2" placeholder="Publish Date" name="publish_date" value="{{ post.publish_date or current_date }}">

                    <input type="text" class="pure-input-1-2" placeholder="Summary" name="summary" value="{{ post.summary or '' }}" required>
                    <textarea name="content" style="height: 250px; width: 100%;">{{ post.content or '' }}</textarea>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Save Changes</button>
            </form>

            {% if post.id > 0 %}
                <hr>
                <div class="pure-alert pure-alert-warning">
                    Adding tags, removing tags, and uploading files will cause a new request.<br>
                    Make sure you save your changes above before attempting to use the sections below!
                </div>

                <hr>
                <h4>Manage Tags</h4>
                <p>
                    Convention for tags is all lowercase with hyphens between words.<br>
                    For example: snakes, space-snakes, aurora-tower-defense, etc.
                </p>
                <p>
                    It's better to use existing tags than to make new ones.<br>
                    This will ensure all posts have related posts showing up at the bottom of their page.
                </p>
                <p>
                    In order to associate a post with a game, use one of the following tags:
                </p>
                <ul>
                    {% for game_tag in g.game_tags %}
                        <li>{{ game_tag.name }}</li>
                    {% endfor %}
                </ul>
                <form action="{{ url_for('add_tag_to_post') }}" method="post" class="pure-form">
                    <input type="text" class="pure-input-1-2" placeholder="Tag Name" name="tag_name" required>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Add Tag</button>
                </form>

                <p>
                    {% for tag in post.tags %}
                        {{ tag.tag.name }} (<a href="{{ url_for('remove_tag_from_post', post_tag_id=tag.id) }}">Disassociate</a>)<br>
                    {% endfor %}
                </p>

                <hr>
                <h4>Post Preview</h4>
                <img src="{{ url_for('view_post_preview', slug=post.slug) }}" />

                <div class="pure-alert pure-alert-warning">
                    Preview image should have 'jpg' extension and be 580x272 in dimension.<br>
                    It's a good rule of thumb to keep these images as small as possible (150 KB or less).<br>
                    Heed this warning or the blog will be slow and ugly!
                </div>

                <form action="{{ url_for('upload_post_preview') }}" method=post enctype=multipart/form-data>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="slug" value="{{ post.slug }}">
                    <input type=file name=file>
                    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Upload</button>
                </form>

                <hr>
                <h4>Post Header</h4>
                <img src="{{ url_for('view_post_header', slug=post.slug) }}" />

                <div class="pure-alert pure-alert-warning">
                    Header image should have 'jpg' extension and be 1200x444 in dimension.<br>
                    It's a good rule of thumb to keep these images as small as possible (300 KB or less).<br>
                    Heed this warning or the blog will be slow and ugly!
                </div>

                <form action="{{ url_for('upload_post_header') }}" method=post enctype=multipart/form-data>
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="hidden" name="slug" value="{{ post.slug }}">
                    <input type=file name=file>
                    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Upload</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock body %}
