{% extends "admin_layout.html" %}
{% block body %}

<div class="pure-g-r" style="margin-top: 1em;">
    <div class="pure-u-1">
        <a href="{{ url_for('edit_post', post_id=0) }}">Create New Post</a>
    </div>
</div>

<div class="pure-g-r">
    <div class="pure-u-1">
        {% for post in posts %}
            <div style="border: 1px solid #ccc; border-radius: 5px; margin: 1em 0em; padding: 1em;">
                <h2>{{ post.title }} [{{ post.slug }}]</h2>
                <p>{{ post.summary }}</p>
                <p style="font-size: smaller; font-style: italic;">{{ post.publish_date }}</p>
                <a href="{{ url_for('edit_post', post_id=post.id) }}">Edit Post</a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
