{% extends "main_layout.html" %}
{% block title %}Final Parsec - {{ tag.game_name }}{% endblock %}
{% block content %}

<!-- For Unity Web Player -->
<script type="text/javascript" src="//webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js"></script>
<![if IE]>
<script type='text/javascript'>
if(/*@cc_on!@*/false)
var bIsIE = 1;
</script>
<![endif]>
<script language="javascript1.1" type="text/javascript">
    function detectUnityWebPlayer () {
        var tInstalled = false;
        if (typeof (bIsIE) != 'undefined') {
            tInstalled = true;
        }
        if (navigator.userAgent.indexOf('MSIE') !== -1 || navigator.appVersion.indexOf('Trident/') > 0) {
           // MSIE
            tInstalled = true;
        }

        if (navigator.appVersion.indexOf("MSIE") != -1 &&
            navigator.appVersion.toLowerCase().indexOf("win") != -1)
        {
            tInstalled = detectUnityWebPlayerActiveX();
        }
        else if (navigator.mimeTypes && navigator.mimeTypes["application/vnd.unity"])
        {
            if (navigator.mimeTypes["application/vnd.unity"].enabledPlugin &&
                navigator.plugins && navigator.plugins["Unity Player"])
            {
                tInstalled = true;
            }
        }
        return tInstalled;
    }
</script>

<body class="no-sidebar">
    {% include 'header.html' %}

    <!-- Main -->
    <div id="main-wrapper">
        <div class="container">
            <section>
                {% if tag.game_name == 'Nauticus' %}
                    {% include 'pages/games/' + 'nauticus.html' %}
                {% elif tag.game_name == 'Space Snakes: Prototype' %}
                    {% include 'pages/games/' + 'space_snakes_prototype.html' %}
                {% elif tag.game_name == 'Space Snakes: Legacy Earth' %}
                    {% include 'pages/games/' + 'space_snakes_legacy_earth.html' %}
                {% elif tag.game_name == 'Aurora TD' %}
                    {% include 'pages/games/' + 'tower_defense.html' %}
                {% elif tag.game_name == 'Unity Masters' %}
                    {% include 'pages/games/' + 'unity_masters.html' %}
                {% endif %}

                <hr>

                {% for batch in posts|batch(2) %}
                    <div class="row">
                        {% for post in batch %}
                            {% include 'post_preview.html' %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>

    <!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    {% set about_width = '12' %}
                    {% include 'about.html' %}
                </div>

                {% include 'copyright_row.html' %}
            </section>
        </div>

</body>





{% endblock %}