<div class="game_container">
    
    <div class="act_one">
        <aside id="featured" class="body">
            <article>
                <h3>Curious about about how this was implemented?</h3>

                <h2>Follow along with the blog post below.</h2>

                <a href="{{ url_for('view_post', slug='a-star-visualization') }}">A* Pathfinding Visualization</a>

                <nav style="margin: 1em auto;">
                    <ul>
                        <li><a href="#" id="act_one_restart">Reload Demo</a></li>
                    </ul>
                </nav>

                <p>
                    Navigate the map with WASD or the arrow keys.<br>
                    Use the mouse to select nodes and zoom.<br>
                    Use the buttons to:
                    <ul>
                        <li>Toggle between Sequential A* and PNBA*.</li>
                        <li>Generate new mazes.</li>
                        <li>Enable the trace option and step through the different algorithms.</li>
                    </ul>
                </p>
            </article>
        </aside>

        <div id="unityPlayer" style="width: 800px; height: 500px; margin-bottom: 2em;"></div>
    </div>

</div>

<script>

    $(document).ready(function() {

        if (detectUnityWebPlayer()) {
            // Start the visualization.
            window.scrollTo(0, 0);
            $('.game_container > div').filter(':visible').fadeOut(750, function() {
                var u = new UnityObject2();
                u.initPlugin(jQuery(".act_one > #unityPlayer")[0], "{{ url_for('static', filename='unity/parallel_a_1.unity3d') }}");

                $('.act_one').fadeIn();
            });
            
            

            // Game restart buttons.

            $('#act_one_restart').click(function() {
               var u = new UnityObject2();
                u.initPlugin(jQuery(".act_one > #unityPlayer")[0], "{{ url_for('static', filename='unity/parallel_a_1.unity3d') }}");
                return false;
            });

        } else {
            $('.intro').find('nav').replaceWith('<div style="background-color: #fff8c4; color:#555; border-radius:10px; font-size:11px; padding:10px 10px 10px 36px; margin:10px;">You need to install the <a href="http://unity3d.com/webplayer">Unity Player plugin</a> in order to play Aurora Tower Defense. The Unity Player plugin is not supported on mobile devices. If you are on Android, check us out on the <a href="https://play.google.com/store/apps/details?id=com.finalparsec.towerdefence">Google Play Store</a>.');
        }

    });


</script>