{% extends "main_layout.html" %}
{% block title %}{{ post.title|striptags }}{% endblock %}
{% block content %}
<body class="right-sidebar">
    {% include 'header.html' %}

    <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="8u">

                        <!-- Content -->
                            <article class="box post">
                                <a href="#" class="image featured">
                                    <img onerror="this.parentNode.parentNode.removeChild(this.parentNode);"
                                         src="{{ url_for('static', filename='images/post-header/'+ post.slug + '.jpg') }}" alt="" />
                                </a>
                                <header>
                                    <h2>{{ post.title }}</h2>
                                    <p>{{ post.locale_date }}</p>
                                </header>
                                {{ post.content }}
                                <hr>

                                {% include 'taglist.html' %}
                            </article>

                    </div>
                    <div class="4u">
                        {% include 'portrait_sidebar.html' %}
                    </div>
                </div>
            </div>
        </div>

    <!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    <div class="8u">
                        {% if related_posts %}
                            <section id="content" class="body">
                                <header><h2>Related articles</h2></header>
                                <ul class="dates">
                                    {% for related_post in related_posts %}
                                        <li>
                                            <span class="date">{{ related_post.publish_date.strftime('%b') }} <strong>{{ related_post.publish_date.strftime('%d') }}</strong></span>
                                            <h3><a href="{{ url_for('view_post', slug=related_post.slug) }}">{{ related_post.title }}</a></h3>
                                            <p>{{ related_post.summary }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}
                    </div>

                    {% include 'about.html' %}
                </div>

                {% include 'copyright_row.html' %}
            </section>
        </div>
</body>
{% endblock %}
