<div class="{{ about_width or '4u' }}">
    <section>
        <header>
            <h2>What's a Final Parsec?</h2>
        </header>
        <a href="#" class="image featured"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/final_parsec.jpg" alt="" /></a>
        <p>
            <strong>Final Parsec</strong> is an up and coming indie game development studio in North Texas.
        </p>
        <p>
            Our game development team consists of<br>
            <a href="{{ SITEURL }}/author/matt.html">Matt Bauer</a>, <a href="{{ SITEURL }}/author/baer.html">Baer Bradford</a>, and <a href="{{ SITEURL }}/author/tj.html">TJ Brosnan</a>.
        </p>
        <footer>
            <a href="{{ SITEURL }}/final_parsec_the_reckoning/static_pages/about.html" class="button">Find out more</a>
        </footer>
    </section>

    <section>
        <header>
            <h2>Social</h2>
        </header>
        <ul class="social">
            <li><a class="icon fa-twitter" href="https://twitter.com/Final_Parsec"><span class="label">@FinalParsec</span></a></li>
            <li><a class="icon fa-youtube" href="https://www.youtube.com/channel/UCHcxGunEdEPlgq5JulJ2fYQ"><span class="label">Tutorials & Streams</span></a></li>
        </ul>
    </section>
</div>