{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}
{% block content %}
<body class="right-sidebar">
    {% include 'header.html' %}

    <!-- Main -->
        <div id="main-wrapper">
            <div class="container">
                <div class="row">
                    <div class="8u">

                        <!-- Content -->
                        <article class="box post">
                            {% for batch in articles_page.object_list|batch(2) %}
                                <div class="row">
                                    {% for article in batch %}
                                        <div class="6u">
                                            <section class="box">
                                                <a href="{{ SITEURL }}/{{ article.url }}" class="image featured">
                                                    <img onerror="this.parentNode.parentNode.removeChild(this.parentNode);"
                                                         src="{{ SITE_URL }}/{{ THEME_STATIC_DIR }}/images/post-preview/{{ article.slug }}.jpg" alt="" />
                                                </a>
                                                <header>
                                                    <h3>{{ article.title }}</h3>
                                                    <p>{{ article.locale_date }}</p>
                                                </header>
                                                <p>{{ article.summary }}</p>
                                                <footer>
                                                    <ul class="actions">
                                                        <li><a href="{{ SITEURL }}/{{ article.url }}" class="button icon fa-file-text">Continue Reading</a></li>
                                                    </ul>
                                                </footer>
                                            </section>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </article>

                    </div>
                    <div class="4u">

                        <!-- Sidebar -->
                            <section class="box">
                                <a href="{{ SITEURL }}/{{ author.url }}" class="image featured"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/author-portrait/{{ author }}.jpg" alt="" /></a>
                                <header>
                                    <h3>{{ author }}</h3>
                                </header>
                                <p>
                                    {% if author == 'Matt' %}
                                        Hey guys, this is Matt!
                                    {% elif author == 'Baer' %}
                                        Director of Snacks
                                    {% elif author == 'TJ' %}
                                        Distinguished Vice President of Network Architecture and Master Google Engineer
                                    {% endif %}
                                </p>
                            </section>
                            <section class="box">
                                <header>
                                    <h3>Latest Tweets</h3>
                                </header>

                                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Final_Parsec" data-widget-id="564606085340729344">Tweets by @Final_Parsec</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            </section>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <section id="footer" class="container">
                <div class="row">
                    {% set about_width = '8u' %}
                    {% include 'about.html' %}
                </div>

                {% include 'copyright_row.html' %}
            </section>
        </div>
</body>
{% endblock %}
