<!DOCTYPE html>
<html>
<head>
    <title>Final Parsec</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/logo_transparent_bg.gif') }}" />
        <ul class="menu">
            {% if g.user.is_authenticated() %}
                <li><a href="{{ url_for('post_list') }}">Manage Posts</a></li>
                <li>|</li>
                <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
                <li>|</li>
                <li><a href="{{ url_for('log_out') }}">Log Out</a></li>
            {% endif %}
        </ul>
        <h1>Final Parsec</h1>
        <h2>Control Panel</h2>
    </div>

    <div class="content">
        {% if error_message %}
            <div class="pure-alert pure-alert-error">{{ error_message }}</div>
        {% endif %}

        {% block body %}{% endblock body %}
    </div>

    <script src="{{ url_for('static', filename='scripts/jquery-2.0.3.min.js') }}" type="text/javascript"></script>
</body>
</html>

