<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}Final Parsec{%endblock%}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">

		<!--[if lte IE 8]><script src="{{ url_for('static', filename='styles/ie/html5shiv.js') }}"></script><![endif]-->
        <script type="application/javascript">
            var FINAL_PARSEC_THEME_STATIC_DIR = '{{ url_for('static', filename='') }}';
        </script>
		<script src="{{ url_for('static', filename='scripts/jquery-2.0.3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='scripts/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/skel.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
			<link rel="stylesheet" href="{{ url_for('static', filename='styles/style-desktop.css') }}" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='styles/ie/v8.css') }}" /><![endif]-->
	</head>
    <body>
        {% if g.debug %}
            <div id="debug-toolbar">{{ g.request_time() }}</div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>