<!-- Nav -->
<nav id="nav">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li>
            <a href="#" onclick="return false;">Games</a>
            <ul>
                {% for game_tag in g.game_tags %}
                    <li><a href="{{ url_for('landing_page', game_tag_name=game_tag.name) }}">{{ game_tag.game_name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{{ url_for('view_leaderboards') }}">Leaderboards</a></li>
        <li><a href="{{ url_for('tag', tag_name='tutorial') }}">Tutorials</a></li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
    </ul>
</nav>