<div class="6u">
    <section class="box">
        <a href="{{ url_for('view_post', slug=post.slug) }}" class="image featured">
            <img src="{{ url_for('view_post_preview', slug=post.slug) }}" alt="" onerror="this.parentNode.parentNode.removeChild(this.parentNode);" />
        </a>
        <header>
            <a href="{{ url_for('view_post', slug=post.slug) }}" style="color: #252122; text-decoration: none;">
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.publish_date|pretty_date }} | <span style="font-size: smaller;">{{ post.publish_date }}</span></p>
        </header>
        <p>{{ post.summary }}</p>
        <footer>
            <ul class="actions">
                <li><a href="{{ url_for('view_post', slug=post.slug) }}" class="button icon fa-file-text">Continue Reading</a></li>
            </ul>
        </footer>
    </section>
</div>